$darkgray:hsl(233, 14%, 35%);;
$lightgray:hsl(234, 39%, 85%);
$white: hsl(0, 0%, 98%);
$darkgrayishblue:hsl(240, 5%, 18%);

.input{
  height: 45px;
  width: 300px;
  padding-left: 35px;
  outline:none;
  border:none;
  border-radius: 5px;

  &--dark{
    background-color: $darkgray;
    color: $lightgray;
  }

  &--light{
    background-color: $white;
    color: $darkgrayishblue
  }
}
