.button {
  height: 40px;
  padding: 0 20px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  background-color: transparent;
  cursor:pointer;

  &--ghost{
    padding: 0;
    padding-left: 30px;
    padding-right: 35px;
    border: none;
  }

  &--blue{
    color: hsl(234, 11%, 52%);
  }
}
