$gray: hsl(234, 11%, 52%);

.button {
  height: 40px;
  padding: 0 20px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  background-color: transparent;
  cursor:pointer;
  border: none;

  &--ghost{
    border: none;
  }

  &--blue{
    color: $gray;
  }

  &--cross{
    background-image: url("../../../public/images/icon-cross.svg");
    padding: 0;
    height: 30px;
  }
}
