.todo-list {
  background-color: hsl(237deg, 14%, 26%);
  list-style: none;
  margin: 0px;
  padding: 0px;

  &__item{
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 15px;
    color: white;
    height: 50px;
    border-bottom: hsl(234deg, 11%, 52%) 1px solid;
  }

}
