$lightblue:hsl(192, 100%, 67%);
$violet:hsl(280, 87%, 65%);


.checkbox{
  -moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
  display:block;
  width: 30px;
  height: 30px;
  border: 2px solid darkgray;
  border-radius: 25px;  
  align-self: center;
  cursor:pointer;

    &--checked{
      background: linear-gradient($lightblue,$violet); 

      &:checked:after{
        content:"\2713";
        color: white;
        font-size: 15px;
        margin-left: 8px;
        line-height: 25px;
      }
    }  
}
